@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://www.1001fonts.com/lucien-schoenschriftv-cat-font.html?text=IG&size=26&commercial=true&page=3');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #Ffffff;
  font-family: 'Open Sans';
}

/* START MENU BAR */
.intro {
  padding: 0 20px;
}

.toggler{
    margin-right: -30px;
}

header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
}

.logo {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  font-family: 'lucien-schoenschriftv-cat-font';
}

.toggler {
  color: #000000;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 50px;
}

/* START NAVIGATION */
nav {
  width: 100%;
  display: none;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 40px;
  transition: 0.3s ease-out;
}

nav ul li a:hover {
  color: #5FC0DC;
}

.active {
  color: #5FC0DC;
}

/* END NAVIGATION */

/* START OF IEVADS */

.top-left {
    position: absolute;
    width: 70%;
    margin-top: -50%;
    margin-left: 3%;
  }

  .top-left p{
    color: #ffffff;
    font-weight: bold;
  }

  .containerimg{
    width: 100%;
    display: block;
  }

  .containerimg2{
    display: none;
  }
  
  .container .btn {

    background-color: rgba(85, 85, 85, 0);
    color: white;
    font-size: 16px;
    padding: 6px 24px;
    border: 3px solid ;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 3%;
  }

.content{
   padding: 7%;
}

.verticalLine {
    height: 18%;
    border-left: 3px solid #000900;
}

.verticalLine p {
    padding-bottom: 10px;
    text-align: left;
}

.verticalLine .firstp{
    font-weight: bold;
}

.verticalLine .secondp{
    font-style: italic;
}

.dots {
    width: 20%;
    margin-left: 70%;
    margin-bottom: -15%;

}

.qualification{
    margin-top: 10%;
    text-align: center;
}

.qualification p {
    text-align: center;
    margin-left: 0;
}

.qualification h1 {
    margin-bottom: 15px;
}

.qualification .btn {
    background-color: rgba(85, 85, 85, 0);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 14px;
    padding: 6px 13px;
    margin: 18px;
    border: 3px solid ;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
}

/* SLIDER */
.imageSlides {
  display: none;
}
 
img {
  margin: auto;
  display: block;
  width: 100%;
}
 
/* Our main images-slideshow container */
.images-slideshow {
  max-width: 260px;
  position: relative;
  margin: auto;
}
 
/*Style for ">" next and "<" previous buttons */
.slider-btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
 
/* setting the position of the previous button towards left */
.previous {
  left: 2%;
}
 /* setting the position of the next button towards right */
.next {
  right: 2%;
}
 
/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}

/* END OF IEVADS */

/* START OF KAS IR KOUCiNGS */


.defenition{
    padding-top:100px;
    padding-right: 7%;
    padding-left:7%;
}

.defenition h1{
    padding-bottom: 10px;
}

.defenition h1, p{
    margin-left: 20px;
    text-align: left;
}

.boldp {
    font-weight: bold;
}

.verticalLine2 {
    height: 18%;
    border-left: 3px solid #000900;
}

.defenition2 {
    margin-top: 140px;
    text-align: center;
}

.defenition2 p{
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.koucings {
  display: flex;
  flex-direction: row;
}


/* END OF KAS IR KOUCiNGS */

/* START OF PAR MANI*/


.ParMani {
    padding-right: 7%;
    padding-left:7%;
    display: flex;
    flex-direction: column;

}

.title {
    margin-bottom: 20px;
    padding-left: 7%;
    padding-top: 80px;
}
.verticalLine3 {
    height: 18%;
    border-left: 3px solid #000900;
}

#more {
  display: none;
}

.readmore{
  background-color: rgba(85, 85, 85, 0);
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 14px;
  padding: 6px 13px;
  margin: 18px;
  border: 3px solid ;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;

}
.portrait {
    width: 45%;
    margin-top: 3%;
    margin-left: 50%;
}

.ParMani2 h1 {
  margin-left: 39px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ParMani2 p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.icon {
    width: 20%;
    display: block;
}

.values {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.inspiration {
    margin-top: 70px;
}

  
/* END OF PAR MANI*/

/* START OF KA PIETEIKTIES */
.pieteikties{
  display: block;
}

main{
  padding-top: 80px;
}
/* END OF KA PIETEIKTIES */

@media screen and (min-width: 872px) {

  header {
     padding-top: 30px;
     padding-bottom: 30px;
  }
  
  .intro {
    padding: 0 50px;
  }
  
  .toggler {
    display: none;
  }
  
  nav {
    display: inline-block !important; /* prevent the nav to hide when resize */
    position: relative;
    width: auto;
    float: right;
    padding: 5px 0;
  }
 
  nav ul {
    float: left;
  }
  
  nav ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: 23px;
  }

  nav ul li a {
    font-size: 23px;
    padding-right: 30px;
    
  }

/* START OF IEVADS*/

.containerimg{
  display: none;
}

.containerimg2 {
  display: block;
}

.container p {
 font-size: 30px;
}

.dots{
  width: 150px;
}
.content p {
  font-size: 23px;
}

.content h1 {
  font-size: 26px;
}

/* END OF IEVADS*/

/* START OF KAS IR KOUCiNGS */

.Koucings {
  display: flex;
  flex-direction: row;
  margin-left:100px ;
  margin-right: 100px;
}

.Koucings h1{
  font-size: 26px;
}

.Koucings p {
  font-size: 23px;
}

.verticalLine2 {
  height: 100%;
}

.defenition {
  padding-left: 0;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.defenition2 {
  padding-left: 7%;
  width: 50%;
}

/* END OF KAS IR KOUCiNGS */



/* START OF PAR MANI*/

#dots {
  display: none;
}

#more{
  display: inline;
}

.button_div{
  display: none;
}

.title{
  padding-top: 200px;
}

.ParMani {
  display: flex;
  flex-direction: row;
}

.ParMani p {
  font-size: 23px;
}

.verticalLine3 {
  width: 70%;
}

.portrait {
  margin-top: -80px;
  width: 400px;
  margin-left: 200px;
}

.icon {
  width: 130px;
}

.ParMani2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: auto;
}

.ParMani2 p {
  font-size: 23px;
}

.ParMani2 h1{
  font-size: 26px;
}

.values{
  display: flex;
  flex-direction: row;
}

.inspiration{
  display: flex;
  flex-direction: row;

}
/* END OF PAR MANI*/

/* START OF KA PIETEIKTIES */
main{
  padding-top: 140px;
}
#pieteikties_button{
 display:block !important;
}
/* END OF KA PIETEIKTIES */

}




